.header__headline {
  margin-top: 10px;
}

.card {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 7px 1px grey;

  &__bookmark {
    position: absolute;
    right: 15px;
    top: -8px;
    height: 48px;
    width: 48px;
    background-color: transparent;

    &--active {
      color: black;
      fill: red;
    }

    &--inactive {
      color: grey;
      fill: transparent;
    }
  }
}

li {
  list-style: none;
  font-size: 0.875 em;
  padding: 5px 10px;
  border-radius: 16px;
  background-color: #aaa;
  margin-bottom: 10px;
  margin-right: 10px;
}

.footer__icon {
  line-height: 1;
  width: 32px;

  &--active {
    filter: invert(1);
    background-color: white;
    border-radius: 50%;
    width: 40px;
    padding: 2px;
  }
}

.form {
  justify-content: stretch;
}

.form__input-wrapper {
  width: 100%;
}

.profile {
  align-items: center;
  gap: 15px;

  &__picture {
    border-radius: 50%;
  }

  &__user-name {
    font-size: 1.2em;
  }
}

@import './utility';
@import './base';
